#CORE ENV
#WEB
BASE_URL=https://www.bukalapak.com
MOBILE_BASE_URL=https://m.bukalapak.com
PWA_BASE_URL=https://agen.bukalapak.
BBM_BASE_URL=https://bbm.bukalapak.com
LINE_BASE_URL=https://line.bukalapak.com

USER_AGENT=blcanary
BROWSER=firefox

#API
ACCOUNTS_BASE_URL=https://accounts.bukalapak.com
OMNISCIENCE_BASE_URL=https://www.bukalapak.com/omniscience/v2
API_CLIENT_ID=
API_CLIENT_SECRET=

#api v2
API_BASE_URL=https://api.bukalapak.com/v2
APIV4_BASE_URL=https://api.bukalapak.com

#Old Base URL
ACCOUNTS_URL=https://accounts.bukalapak.com
APIV4_URL=https://api.bukalapak.com
OMNISCIENCE_URL=https://www.bukalapak.com/omniscience/v2
API_URL=https://api.bukalapak.com/v2

#Database
MYSQL_DATABASE_HOST=staging_name
MYSQL_DATABASE_USERNAME=username
MYSQL_DATABASE_PASSWORD=password
MYSQL_DATABASE_NAME=db_name

API_CLIENT_ID=
API_CLIENT_SECRET=

STAGING_HOST=staging_hostname
STAGING_USER=staging_username
STAGING_PASSWORD=staging_password

# User Agent
MOBILE_USER_AGENT=blcanary
DESKTOP_USER_AGENT=blcanary

#Proxy
PROXY_IP=
PROXY_PORT=

# Credential
CREDENTIAL_BUYER_USERNAME=
CREDENTIAL_BUYER_PASSWORD=
CREDENTIAL_SELLER_USERNAME=
CREDENTIAL_SELLER_PASSWORD=

# Agen Bukalapak
AGENT_LITE_BASE_URL=
AGENBL_USERNAME=
AGENBL_PASSWORD=
AGENBL_EMAIL=
AGENBL_PHONE=
AGENT_REFERRAL_CODE=
MOBILE_REFERRAL_CODE=
AGENT_ID=

# User no balance
USERNAME_NB=
PASSWORD_NB=

# User game voucher
BUYER_VG1_USERNAME=
BUYER_VG1_PASSWORD=

BUYER_VG2_USERNAME=
BUYER_VG2_PASSWORD=

# User
USERNAME=
PASSWORD=
EMAIL=
PHONE=

# Phone number and customer number
BUYER_PHONE_NUMBER=
BUYER_ELECTRICITY_NUMBER=
POSTPAID_ELECTRICITY_CUSTOMER_NUMBERS=512345610000
BPJS_CUSTOMER_NUMBERS=0000001430071801,8888801306460946
PDAM_CUSTOMER_NUMBERS=aetra|1998900001|4
POSTPAID_PHONE_CREDIT_CUSTOMER_NUMBERS=081234000001
MULTIFINANCE_CUSTOMER_NUMBERS=BFI Finance|4511601783|1,BFI Finance|4491601308|1,BFI Finance|4511601976|1,BFI Finance|5201400309|1

# Buyer
BUYER_USERNAME=yellow_thirten@yahoo.com
BUYER_PASSWORD=test1234

# Buyer phone credit / buyer has no deposit
BUYER2_USERNAME=
BUYER2_PASSWORD=

# Buyer dataplan
BUYER3_USERNAME=
BUYER3_PASSWORD=

# Buyer electricity
BUYER4_USERNAME=
BUYER4_PASSWORD=

# Buyer game voucher
BUYER5_USERNAME=
BUYER5_PASSWORD=

# Seller
SELLER_USERNAME=
SELLER_PASSWORD=
SELLER_PRODUCT_URL=
SELLER_PRODUCT_EDIT_URL=

SELLER2_USERNAME=
SELLER2_PASSWORD=
SELLER2_PRODUCT_URL=
SELLER2_PRODUCT_EDIT_URL=

SELLER3_USERNAME=
SELLER3_PASSWORD=
SELLER3_PRODUCT_URL=
SELLER3_PRODUCT_EDIT_URL=

# Admin
ADMIN_USERNAME=
ADMIN_PASSWORD=

CUSTOMER_SUPPORT_USERNAME=
CUSTOMER_SUPPORT_PASSWORD=

# Voucher
VOUCHER_SUCCESS_MESSAGE=Selamat
VOUCHER_ERROR_NOTFOUND_MESSAGE=Pastikan kamu memasukkan kode voucher yang benar
VOUCHER_ERROR_UNCONFIRMEDEMAIL_MESSAGE=Voucher hanya berlaku untuk pengguna Bukalapak yang memiliki akun dan sudah melakukan verifikasi e-mail
VOUCHER_ERROR_UNCONFIRMEDPHONE_MESSAGE=Voucher hanya berlaku untuk pengguna Bukalapak yang memiliki akun dan sudah melakukan konfirmasi nomor handphone/telepon
VOUCHER_ERROR_NEWUSER_MESSAGE=Voucher hanya berlaku untuk pengguna yang belum pernah belanja sebelumnya
VOUCHER_ERROR_COURIER_MESSAGE=Voucher tidak berlaku untuk kurir ini
VOUCHER_ERROR_LOCATION_MESSAGE=Voucher tidak berlaku untuk lokasi pengirimanmu
VOUCHER_ERROR_AMOUNT_MESSAGE=Voucher tidak berlaku untuk total belanja di luar ketentuan
VOUCHER_ERROR_CATEGORY_MESSAGE=Voucher tidak berlaku untuk jenis barang ini

# Add Recipient
NAME_RECIPIENT=
PHONE_RECIPIENT=
ADDRESS_RECIPIENT=

#KAI
CITY_FROM=
CITY_TO=
DEPARTURE_DATE=

#CHAT
BLACK_KEYWORD =setelah konfirmasi di link diatas
GREY_KEYWORD  =info lebih lengkap lansung wa
NORMAL_KEYWORD=Lorem ipsum dolor sit ame

# Cinta Laura Message
JENKINS_URL=http://qa-jenkins.vm:8080
JENKINS_USERNAME=
JENKINS_PASSWORD=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
OPS_TELEGRAM_CHAT_ID=
REPORT_ERROR_JOBS_ONLY=

APPIUM_URL = http://127.0.0.1:4723/wd/hub/
HIVE_QUEUE_NAME = emulator-5554
BROWSER=Chrome

CUCUMBER_REPORT_USERNAME=
CUCUMBER_REPORT_PASSWORD=


ANDROID_VERSION =8.1.0
ANDROID_DEVICE_NAME =API27
ANDROID_APK_PATH=/features/support/app-release.apk

IOS_VERSION =10.2
IOS_DEVICE_NAME =iPhone 6
IOS_APK_PATH=/features/support/bl_ios.app

